<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Liste des Produits</title>

    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>

<div th:replace="/produits/nav :: navigation"></div>

<br/><br/><br/><br/><br/>



<div class="container">
    <h1> Liste des produits </h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Libelle</th>
            <th scope="col">Quantité</th>
            <th scope="col">Stock</th>
            <th scope="col">Date de creation</th>
            <th scope="col">Prix</th>
            <th scope="col">Categorie</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prod : ${produits}">
            <th th:text="${prod.id}" scope="row"></th>
            <td th:text="${prod.libelle}"></td>
            <td th:text="${prod.qtstock}"></td>
            <td th:text="${prod.qtseuil}"></td>
            <td th:text="${prod.datecreation}"></td>
            <td th:text="${prod.prix}"></td>
            <td th:text="${prod.categorieModel.designation}"></td>

            <td>
                <a th:href="@{/produits/edit/{id}(id=${prod.id})}" class="btn btn-warning">Modifier</a>
                <a th:href="@{/produits/delete/{id}(id=${prod.id})} " class="btn btn-danger">Supprimer</a>
                <a th:href="@{/approvisionnement/enregistrer/{id}(id=${prod.id})}" class="btn btn-warning">Approvisionner</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>

<script rel="text/javascript"  th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>