<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ENREGISTREMENT</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >

</head>
<body>
<div th:replace="/role/navigation :: nav"></div>

<div class="container">
    <h2>Formulaire de saisie des Roles</h2>
    <form th:action="@{/role/save}" method="post">
        <div class="mb-3">
            <label class="form-label">Role</label>
            <input type="text"  name="role" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>

</div>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>