<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>

<div th:fragment="nav">
    <!-- ======= Header ======= -->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-4">Role Utilisteur</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Acceuil</a></li>
                <li class="nav-item"><a href="/role/afficher" class="nav-link">Liste</a></li>
                <li class="nav-item"><a href="/role/enregistrer" class="nav-link">Enregistrer</a></li>
                <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            </ul>
        </header>
    </div>
</div>


<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>